<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        <img alt="SMART" src="assets/images/cm_logo.png" width="20" height="20">
      {{/link-to}}
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#link-to "dashboard" tagName="li"}}
          <a {{bind-attr href="view.href"}}>Home</a>
        {{/link-to}}
        {{#link-to "search-patient" tagName="li"}}
          <a {{bind-attr href="view.href"}}>Search Patient</a>
        {{/link-to}}
        {{#link-to "index" tagName="li"}}
          <a {{bind-attr href="view.href"}}>Book Appointment</a>
        {{/link-to}}
        {{#link-to "index" tagName="li"}}
          <a {{bind-attr href="view.href"}}>Start / Stop Clinic</a>
        {{/link-to}}
        {{#link-to "index" tagName="li"}}
          <a {{bind-attr href="view.href"}}>Today's Appointments</a>
        {{/link-to}}
        {{#link-to "index" tagName="li"}}
          <a {{bind-attr href="view.href"}}>Sync</a>
        {{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#if session.isAuthenticated}}
            <a  {{action 'invalidateSession'}} >Logout</a>
          {{else}}
            {{#link-to 'login'}}Login{{/link-to}}
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="main" class="container">
  {{outlet}}
</div>
