<div class="row">
  <div class="col-xs-6">
    <h4>Appointment Type</h4>
    <ul class="list-group">
      <li class="list-group-item">
        {{model.service_option.type}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h4>Service Option</h4>
    <ul class="list-group">
      <li class="list-group-item">
        {{model.service_option.name}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h4>Clinic</h4>
    <ul class="list-group">
      <li class="list-group-item">
        {{model.name}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h4>Week</h4>
    <div class="list-group">
      {{#each next_weeks as |week|}}
        <button type="button" class="btn btn-default list-group-item" {{action 'dateChosen' week.date}}>Week {{week.weekName}} - {{week.formattedDate}}</button>
      {{/each}}
    </div>
  </div>
</div>
