<div class="row" role="tabpanel">
  <div class="col-md-12">
    <h1>{{model.personal_fields.name}}</h1>
    <h4><small>Age: {{model.age}} | Parity: {{model.clinical_fields.parity}}</small></h4>
  </div>
  <div class="col-md-12">
    <ul class="nav nav-tabs text-center" role="tablist">
      <li role="presentation" class="col-xs-4"><a role="tab" href="#ante-natal" data-toggle="tab">Ante Natal</a></li>
      <li role="presentation" class="col-xs-4 active"><a role="tab" href="#contact" data-toggle="tab" class="active">Contact</a></li>
      <li role="presentation" class="col-xs-4"><a role="tab" href="#post-natal" data-toggle="tab">Post Natal</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <div class="tab-content">
      <div id="ante-natal" class="tab-pane" role="tabpanel">
        {{partial "service-user/ante-natal"}}
      </div>
      <div id="contact" class="tab-pane active" role="tabpanel">
        {{partial "service-user/contact"}}
      </div>
      <div id="post-natal" class="tab-pane" role="tabpanel">
        {{partial "service-user/post-natal"}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- Action buttons -->
  </div>
</div>

{{outlet}}
